.wrap {
  padding: .5rem 2rem;
  border-radius: 16px;
  background-color: #FFA900;

  & > div {
    display: flex;
    justify-content: space-between;
  }

  button {
    padding: .2rem .5rem;

    color: white;
    border: none;
    border-radius: 3px;

    background-color: #009B95;
  }

  .messages {
    display: flex;
    flex-direction: column;
  }
}
