@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&family=Open+Sans:wght@300;500;600&family=Poppins:wght@100;200;300;500;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
